.hero {
  padding: 80px 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;

  @include media-breakpoint-down(xs) {
    padding: 20px 0 60px;
  }

  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    @include media-breakpoint-down(xs) {
      height: 140px;
    }
  }

  .carousel {
    &-inner {
      border-radius: 15px;
      box-shadow: 15px 0px 30px rgba($black, 0.2);
    }
    &-item {
      background: $white;
    }
    &-indicators {
      li {
        background: $black;
        &.active {
          background: $primary;
        }
      }
    }
  }
}