.hero {
  position: relative;
  display: flex;
  align-items: center;
  padding: 80px 0;

  &-bg {
    position: absolute;
    width: 60%;
    top: 0;
    left: 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 0 0 20px;
    min-height: auto !important;
    display: block;
    &-bg {
      position: static;
      width: 100%;
    }
  }
}