.principles {
  margin-bottom: 40px;
  background-repeat: no-repeat, no-repeat;
  background-size: 150px, 250px;
  background-position: top left, bottom right;
  .item {
    border: 1px solid #C4D46F;
    display: flex;
    padding: 30px 20px;
    border-radius: 15px;
    margin-bottom: 30px;
    line-height: 30px;
    background: $white;

    @include media-breakpoint-down(sm) {
      display: block;
      &:last-child {
        margin-bottom: 0px;
      }
    }

    .icon {
      width: 180px;
      flex: 1 0 180px;
      margin-right: 10px;
      @include media-breakpoint-down(sm) {
        margin: 0 auto;
      }
    }

    ul {
      padding-left: 0;
      list-style: none;

        li {
          position: relative;
          padding-left: 20px;
          margin-bottom: 8px;
          &:before {
            content: '\2022';
            color: $primary;
            position: absolute;
            left: 0;
          }
        }
    }
  }
}