.wrapper {
  padding: 0 0 60px;
  background: $primary;
  .product-tabs {
    position: relative;
    top: -55px;
    margin-top: 80px;
    margin-bottom: -30px;
    @include media-breakpoint-down(sm) {
      margin-top: 30px;
      top: -40px;
    }
    .tab {
      display: block;
      border-radius: 5px;
      background: $white;
      border: 2px solid transparent;
      transition: .4s all;

      &-active, &:hover {
        box-shadow: 15px 0px 30px #00371E26;
        border: 2px solid #D9E8AF;
      }
    }
  }
}