.careers-page {
  .jobs-wrapper {
    .each {
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: 1px solid $gray-300;
      &:last-child {
        border: none;
      }
      &-title {
        font-weight: normal;
        color: $gray-800;
        text-decoration: underline;
      }
    }
  }
}
