.company-cards {
  @include media-breakpoint-down(sm) {
    justify-content: center;
  }
  .each {
    max-width: 220px;
    height: 80px;
    margin: 0 0 60px;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 0px 10px rgba($black, 0.1);
    border-radius: 6px;

    @include media-breakpoint-down(md) {
      height: 70px;
      margin: 0 0 40px;
    }

    img {
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }
}

// contact page
.contact-page {
  .company-cards {
    .each {
      margin-bottom: 30px;
    }
  }
}