
.form-wrapper {
  background: $white;
  border-radius: 16px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  padding: 20px;

  .wpcf7 {
    max-width: 100%;
  }

  &.invite {
    box-shadow: none;
    padding: 0;
    .form-group {
      label {
        text-align: right;
        @include media-breakpoint-down(sm) {
          text-align: left;
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 50px 2rem;
  }

  .form-group {
    display: block;
    margin-bottom: 1.2rem;
    @include media-breakpoint-up(sm) {
      margin-bottom: 10px;
    }
    .wpcf7-form-control-wrap {
      flex: 1;
      .wpcf7-textarea {
        height: 100px;
      }
    }
  }

  .offset {
    @include media-breakpoint-up(sm) {
      margin-left: 1rem;
    }
  }

  span.wpcf7-list-item {
    margin-left: 0;
  }
}