// Navbar
.navbar-collapse {
  @include media-breakpoint-down(sm) {
    .navbar-nav li {
      padding: 5px 20px;
    }
  }
}

.navbar-brand {
  padding-bottom: 10px;
  img {
    width: 124px;
  }
  @include media-breakpoint-down(sm) {
    margin-left: 8px;
    img {
      width: 124px;
    }
  }
}

.navbar-toggler {
  &:focus {
    outline: none;
  }
  &-icon {
    &:before {
      content: '\f0c9';
      font-family: FontAwesome;
      font-size: 30px;
      opacity: 0.6;
    }
  }
  &:not(.collapsed) {
    .navbar-toggler-icon {
      &:before {
        content: '\f00d';
      }
    }
  }
}

.navbar {
  transition: .4s background;
  &.bg-secondary {
    box-shadow: 3px 0px 5px 6px rgba($black, 0.3);
  }
  @include media-breakpoint-down(sm) {
    background: $black;
  }
  &-nav {
    align-items: center;
    @include media-breakpoint-down(sm) {
      align-items: normal;
    }

    .dropdown {
      .dropdown-toggle {
        position: relative;
        &:before {
          content: '\f078';
          position: absolute;
          font-size: 14px;
          top: 50%;
          right: 10px;
          font-family: FontAwesome;
          transform: translateY(-50%);
        }
        &:after {
          content: none;
        }
      }
      &.show {
        .dropdown-toggle:before {
          content: '\f077';
        }
      }
      .dropdown-menu {
        background: transparent;
        border: none;
        margin: 0;
        .menu-item {
          text-transform: uppercase;
        }
        @include media-breakpoint-down(md) {
          .dropdown-item {
            color: $secondary;
            padding-left: 0;
          }
          .menu-item {
            // padding-left: 0;
          }
        }
        @include media-breakpoint-up(md) {
          background: $white;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          .dropdown-item {
            color: $body-color;
          }
        }
      }
    }
  }
  .nav-link {
    font-weight: 600;
    font-family: Circular Black;
    transition: .2s all;
    font-size: 0.875rem;
    text-transform: uppercase;
  }
  .nav-item {
    &.button {
      .nav-link {
        @extend .btn;
        @extend .btn-light;
        width: 100%;
        &:hover {
          color: $secondary;
        }
        @include media-breakpoint-up(md) {
          margin-left: 2rem;
        }
        @include media-breakpoint-up(sm) {
          width: auto;
          padding-left: 2rem;
          padding-right: 2rem;
        }
      }
    }
  }
}
