.hero {
  position: relative;
  @include media-breakpoint-down(xs) {
    height: 100vh !important;
  }

  &-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  &-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    img {
      width: 100%;
      height: auto;
    }
    @include media-breakpoint-down(xs) {
      height: 100% !important;
    }
  }

  .title {
    font-weight: 400;
    @include media-breakpoint-up(xl) {
      margin: 0 0 100px;
    }
  }

  .description {
    font-weight: normal;
    font-family: Circular Book;
    line-height: $line-height-base;
    font-size: 1rem;
    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
  }

  .btn {
    margin-top: 40px;
  }
}