.section2 {
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  margin-top: 48px;

  .carousel-item {
    img {
      width: 100%;
      height: auto;
    }
  }
}