.section4 {
  margin-top: 48px;
  padding: 80px 0;
  
  .title {
    margin: 109px 0 63px;
  }

  .carousel {
    &-item {
      background: $white;
      border-radius: 15px;
      overflow: hidden;
      > img {
        max-width: 100%;
        height: auto;
      }
    }
    .content {
      padding: 2rem 1rem;
    }
  }
}