.hero {
  padding: 40px 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  .card {
    padding: 20px;
    background: $white;
    border-radius: 15px;
    margin-bottom: 24px;
    box-shadow: 15px 0px 30px rgba($black, 0.2);
    border: 1px solid #F7F7F7;

    .download-btn {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $gray-900;
      border-radius: 40px;
      color: $white;
      transition: .2s all;
      &:hover {
        background: $primary;
        color: $white;
        text-decoration: none;
      }
    }
  }
}