/* FONT PATH
 * -------------------------- */
$font-path:        "../fonts" !default;

@font-face {
  font-family: 'Whitney Medium';
  src: url('#{$font-path}/whitney-medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney Bold';
  src: url('#{$font-path}/whitney-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
