$table-border-color: #BCBCBC;

.features-comparison-page {

  // Tabel
  .entry-content {
    .table-wrapper {
      overflow: auto;
      border-right: 1px solid $table-border-color;
      border-left: 1px solid $table-border-color;
      .table-content {
        @include media-breakpoint-down(sm) {
          width: 1020px; // This is the max width table can attain as per the current container widths setup
        }
      }
    }
    .head {
      color: $white;
    }

    .feature {
      border-right: 1px solid none;
      border-bottom: 1px solid $table-border-color;
      border-left: 1px solid none;

      &:nth-child(odd) {
        background: $gray-100;
      }

      &-entry {
        border-bottom: 1px solid $table-border-color;
        &:last-child {
          border-bottom: none;
        }
      }
      .feature-item {
        border-right: 1px solid $table-border-color;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        &:last-child {
          border-bottom: none;
        }
        &.last {
          border-right: none;
        }

        &.detail {
          padding-left: 36px;
          justify-content: flex-start;
          &:before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            background: $secondary;
            left: 14px;
            top: 16px;
          }
        }
      }
    }
  }
}