h1 {
  font-size: 1.7rem;
}

@include media-breakpoint-up(sm) {
  h1 {font-size:1.5rem;}
}

@include media-breakpoint-up(md) {
  h1 {font-size:2rem;}
}

@include media-breakpoint-up(lg) {
  h1 {font-size:2.5rem;}
}

@include media-breakpoint-up(xl) {
  h1 {font-size:3rem;}
}
