.section5 {
  position: relative;
  margin-top: 40px;
  @include media-breakpoint-down(sm) {
    background: none;
    padding: 10px 0;
    margin-top: 0;
  }

  .content {
    padding: 40px 0;
  }

  .poster {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    @include media-breakpoint-down(sm) {
      position: relative;
      width: 100% !important;
    }
  }
}