.section5 {
  position: relative;
  margin-top: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  @include media-breakpoint-down(sm) {
    background: none;
    padding: 10px 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .content {
    padding: 40px 0;
  }

  .poster {
    width: auto;
  }

  @include media-breakpoint-down(sm) {
    display: block;
    .poster {
      position: relative;
      width: 100% !important;
    }
  }
}